.container {
  padding: 2px;
  display: flex;
  position: relative;
  border: 1px solid #bbb;
  border-radius: 30px;
  width: 42px;
  height: 24px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.icon {
  font-size: 12px;
}

.circle {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #53c28b;
}