.container {
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
  }
  
  .desc {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .contentTitle {
    font-size: 36px;
  }
  .desc p {
    padding-right: 20px;
  }
  .imageContainer {
    flex: 1;
    height: 200px;
    position: relative;
  }
  
  .imageContainer img {
    object-fit: cover;
  }
  